*.jpg
*.jpeg
*.png
*.weights
*.h5
*.pyc
*.xml
*.mp4
*.DS_Store
*.bak
*structure_requirements.txt
*.swp
*__pycache__
*Train
*Test
*test.py
test2.py
*.tf
*.tfrecord
!.gitkeep
.idea
*.iml
!Samples
*.log
